/_build
/_build_verify
/cover
/deps
/doc
/priv
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
/c_src/Elixir.App.cu
/c_src/Elixir.MLPClassifier.asts
/c_src/Elixir.MLPClassifier.cu
/c_src/Elixir.MLPClassifier.types
/c_src/Elixir.MLPClassifierDevice.asts
/c_src/Elixir.MLPClassifierDevice.cu
/c_src/Elixir.MLPClassifierDevice.types
/scripts/prepared_dataset
